:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --font-principal: "Inter";
    --botao-animação: #59a0f6;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal), sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6rem;
}

.container__titulo {
    font-size: 28px;
    text-align: center;
    font-weight: 700;
}

.container__imagem {
    margin: 1rem 0 2rem 0;
    align-content: center;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 4px;
    padding: 1rem;
    color: var(--branco-principal);
    text-decoration: none;
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    transition: 0.5s all;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__botao:hover {
    background-color: var(--botao-animação);
    transform: scale(1.01);
    color: #00030C;

}

.container__aviso {
    color: var(--cinza-secundario);
    text-align: center;
    font-size: 12px;
}

.secundario {
    align-items: center;
    margin: 0 10rem;
}

.container__descricao {
    padding: 1rem;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1rem;
}

.descricao__titulo_legenda {
    color: var(--cinza-secundario);
    font-size: 1rem;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1rem;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    margin: 4rem 0;
}

.dispositivos__listas {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.lista__item {
    font-size: 2rem;
}

.rodape {
    margin: 3rem 0;
    text-align: center;
}

.rodape__lista {
    margin: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

.rodape__link {
    color: var(--branco-principal);
    text-decoration: none;
}

.rodape__link:hover {
    text-decoration: underline;
}

.rodape__paragrafo {
    color: var(--cinza-secundario);
    margin: 2rem 0;
    font-size: 0.875rem;
}